---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Brian Yegge. All rights reserved. <a href="https://hyperfollow.com/angershade">Angershade</a> | <a href="https://hyperfollow.com/thecorruptive">The Corruptive</a> <br>
Streaming: <a href=“https://music.apple.com/us/artist/angershade/1006923915”> Apple Music</a> - <a href=“https://music.youtube.com/channel/UC2AA_y8YCK0GEifQid0aybA?feature=share”>Youtube Music</a> - <a href=“https://open.spotify.com/artist/1W8j2MafL51NDOYsPTpIZ3?si=-2gntgO-TdaR2mSbO7qpdw”>Spotify</a> - <a href=“https://tidal.com/artist/6944856”>Tidal</a> - <a href=“https://music.apple.com/us/artist/angershade/1006923915”>iTunes</a> - <a href=“https://angershade.bandcamp.com”>Bandcamp</a><br>
<a href="https://terms.yegge.com</a>Terms</a> | Get Updates | Inquiry | <a href="https:// https://distrokid.com/vip/seven/584547">Distrokid</a> official distributor
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
